@model IEnumerable<TravelBlog.Models.Experience>


<h2>Travel Blog</h2>
<hr />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
           Location
        </th>
        <th></th>
    </tr>

    @foreach (var listExperience in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => listExperience.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => listExperience.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => listExperience.Location.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listExperience.ExperienceId }) |
                @Html.ActionLink("Details", "Details", new { id = listExperience.ExperienceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listExperience.ExperienceId })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
